.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2% 4rem 10%;
  background-color: #f1f7f5;
  min-height: 90vh;
  gap: 2rem;
  overflow: hidden;
}

.heroContentWrapper {
  flex: 1.6;
  max-width: 850px;
  display: flex;
  flex-direction: column;
}

.heroSubTitle {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 20.75px;
  line-height: 1.2;
  letter-spacing: 0.36px;
  margin-bottom: 1.5rem;
}

.heroMainTitle {
  font-weight: 700;
  font-size: 152px;
  line-height: 125px;
  letter-spacing: -4px;
  color: #1a1a1a;
  margin: 0;
  text-transform: uppercase;
}

.heroMainTitle span {
  font-size: 50px;
  vertical-align: top;
}

.heroTagline {
  font-weight: 600;
  font-size: 37.34px;
  line-height: 41.49px;
  color: #222;
  margin: 2.2rem 0 1.2rem 0;
}

.heroDescription {
  color: #444;
  font-weight: 400;
  font-size: 20.75px;
  line-height: 29.05px;
  margin-bottom: 3rem;
  max-width: 600px;
}

.heroButtonGroup {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.heroPrimaryBtn {
  background-color: #2E775C;
  color: white;
  border: none;
  padding: 18px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18.67px;
}

.btnSmallText {
  font-weight: 600;
  font-size: 14px;
}

.heroSecondaryBtn {
  background: white;
  border: 1px solid #ccc;
  padding: 18px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18.67px;
}

.heroGuaranteeText {
  color: #2E775C;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 3rem;
  display: block;
}

.heroStatsBar {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.statItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #6C757D;
  font-size: 16px;
  font-weight: 500;
}

.icon {
  width: 20px;
  height: 20px;
}

.heroImageWrapperDesktop {
  flex: 0.9;
  display: flex;
  justify-content: flex-end;
  padding-top: 120px;
  transform: translateX(5%);
}

.heroImageWrapperMobile {
  display: none;
}

.heroImage {
  width: 85%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1100px) {
  .heroSection {
    flex-direction: column;
    text-align: center;
    padding: 3rem 5%;
    gap: 0;
  }

  .heroImageWrapperDesktop {
    display: none !important;
  }

  .heroImageWrapperMobile {
    display: flex !important;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
  }

  .heroImage {
    max-width: 350px;
    width: 100%;
  }

  .heroMainTitle {
    font-size: 80px;
    line-height: 80px;
  }
}